@model IEnumerable<PT_Management_System_V2.Models.WorkoutExerciseModel>

<p>
    Client Workout Page
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutId)
            </td>
            <td>
                @Html.ActionLink("Workout Details", "WorkoutDetails", new { item.WorkoutId })
                @* <a asp-action="Details" asp-route-id="@item.WorkoutId">View Workout</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.WorkoutId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>


