<!-- Expects a list of type ClientModel-->
@model IEnumerable<PT_Management_System_V2.Models.ClientModel>

    <p>
        <a asp-action"Create">Your active clients</a>
    </p>

    <table class="table">

    <div class="row">
        @foreach (var client in Model)
        {
            <div class="client-container col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <!-- Client Image - Placeholder if not available -->
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Client Image" style="height: 200px; object-fit: cover;">

                    <!-- Card Body with Client Information -->
                    <div class="client-body card-body">
                        <h5 class="card-title">@client.FirstName @client.LastName</h5>
                        <p class="extra-details hidden-by-default card-text"><strong>Start Date:</strong> @client.ClientStartDate.ToString("MM/dd/yyyy")</p>
                        <p class="extra-details hidden-by-default card-text"><strong>Monthly Charge:</strong> @client.MonthlyCharge.ToString("C")</p>

        <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* The user_id of the client, NOT the client_id *@
                            @Html.DisplayFor(modelItem => item.ClientUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientUsername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientPhone)
                        </td>

                        <!-- Action Links -->
                        <div class="d-flex justify-content-between mt-3">
                            @Html.ActionLink("View Check-ins", "WeeklyReport", new { client.ClientId, client.FirstName, client.LastName }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("View Workouts", "ClientWorkouts", new { client.ClientId }, new { @class = "btn btn-secondary btn-sm" })
                            <button class="btn btn-primary" onclick="toggleDetails(this)"> More Details</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/client_index.js"></script>